<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-social" version="1.0.0">
    
    <name>Cordova Social Plugin for Moblis</name>
    <description>Social Plugin for Moblis Apps</description>
    <author>Moblis Administrator</author>
    <license>MIT</license>  
    
    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="SocialCordovaPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SocialCordovaPlugin">
          <param name="android-package" value="io.cordova.moblis.plugin.SocialCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/SocialCordovaPlugin.java" target-dir="src/social/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">            
            <clobbers target="SocialCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="SocialCordovaPlugin">
                <param name="ios-package" value="SocialCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/SocialCordovaPlugin.h" />
        <source-file src="src/ios/SocialCordovaPlugin.m" />

        <framework src="Social.framework" weak="true" />

    </platform>
</plugin>
